body {
  background-color: #E5E5E5;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2 {
  font-family: Oswald, Arial, sans-serif;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: unset;
}

.page-wrapper {
  background-color: #EEEEEE;
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper {
  background-image: url("../assets/desktop_background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 160px;
}

.header-name {
  margin-right: 80px;
}

.header-nav {
  flex-grow: 1;
  max-width: 620px;
}


.header a {
  color: #FFFFFF;
  text-transform: uppercase;
}

.header-name a {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.header-menu a {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2em;
}

.header-menu {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-menu li:not(:last-child) {
  margin-right: 32px;
}

.header-section {
  padding: 200px 0 252px;
  text-align: center;
  color: #FFFFFF;
}

.header-section img {
  margin-bottom: 15px;
}

.header-section__headline {
  margin-bottom: 40px;
}

.header-section__description {
  color: #FFFFFF70;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.main-section {
  text-align: center;
  padding: 68px 152px 100px;
}

.main-section__headline {
  color: #464547;
  margin-bottom: 40px;
}

.main-section__description {
  font-weight: normal;
  color: #666666;
  margin-bottom: 44px;
}

.main-section-content {
  display: flex;
  justify-content: space-between;
  color: #666666;
  margin-bottom: 26px;
}

.main-section-content p {
  flex: 1 1 400px;
  text-align: left;
}

.main-section-content p:not(:last-child) {
  margin-right: 84px;
}

.main-section__read-more-button {
  width: 115px;
  height: 36px;
  background-color: #55C2D8;
  border-radius: 18px;
  border: none;
  font-family: Oswald, "Arial Black", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.culture-section {
  background-image: linear-gradient(#8c4f2a30, #8c4f2a30), url("../assets/desktop_background_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 84px 120px;
  color: #FFFFFF;
}

.culture-section__headline {
  margin-bottom: 40px;
}

.culture-section__play-button {
  position: relative;
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
  background: #39C2D7;
  border-radius: 50%;
  border: none;
  text-align: center;
}

.culture-section__play-button img {
  content: "";
  position: absolute;
  top: 50px;
  left: 48px;
}

.culture-section__description {
  font-weight: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 82px);
  padding: 35px 150px 0;
  background: #464547;
  color: #FFFFFF;
}

.footer-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-address-wrapper {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.footer-address {
  display: grid;
  grid-template-rows: repeat(2, 82px);
  font-style: normal;
  opacity: 0.4;
}

.copyright {
  grid-column: 6 / 8;
  grid-row: 2 / 3;
  opacity: 0.4;
}
